* {
  box-sizing: border-box;
  background-image: url('backgound.svg');
}
*/ html,
body,
.wrapper {
  background-image: url('../styles/backgound.svg');
  height: 100%;
}

/* .html {
  height: 100%;
  background-image: url('../styles/background-circles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  animation: rotate 6s infinite alternate linear;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
} */
