.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  padding: 10px 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.div > .link {
  justify-content: center;
  margin: 0 10px;
  text-decoration: none;
}
